<!DOCTYPE html>
<html>
    <head>
        <title>CS340 - Final Project</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>       
    </head>
    <body>
        <header class="header-fixed">
            <div class="header-limiter">
                <nav>
                    <a href="/">Home </a>
                    <a href="/create-customer-account">Create An Account</a>
                    <a href="search-customer">Search Exisiting Customers</a>
                    <a href="/create-booking">Add Bookings</a>
                    <a href="/add-new-rooms">Add New Room</a>
                    <a href="/search-existing-rooms">Search Existing Rooms</a>
                </nav>
            </div>
        </header>

        {{{ body }}}



    </body>
</html>