<body style="background-color:#FFFAED; text-align:center">
  <h1>Add New Rooms</h1>
    <div class="create-container">
        <form>
            <div>
                <div class="inputs">

                    <div class="field">
                        <label>Cleaned</label>
                        <input name="is_clean" type="text" placeholder="TRUE or FALSE">
                    </div>

                    <div class="field">
                        <label>Occupied</label>
                        <input name="is_occupied" type="text" required="required" placeholder="TRUE or FALSE"
                    </div>

                </div>

                <input type="submit" value="Add">
            </div>
        </form>
    </div>

{{results}}
