<body style="background-color:#FFFAED; text-align:center">
  <h1>Booking page</h1>
  <div class="create-container">
    <form action="/booking" method="post">
      <div>
        <div class="inputs"
          <div class="input1">
            <label>Booking Date</label>
            <input name="date" type="text" required="required" placeholder="Booking Date">
          </div>
          <div class="input2">
            <label>Booking Price</label>
            <input name="price" type="text" required="required" placeholder="Booking Price">
          </div>
        </div>
        <input type="submit" value="Add">
      </div>
    </form>
  </div>

  <div>
      <table>
          <thead>
              <th>Booking ID</th>
              <th>Booking Date</th>
          </thead>
          {{#each results}}
            <tr>
              <td>{{booking_id}}</td>
              <td>{{booking_date}}</td>
            </tr>
          {{/each}}
    </div>
