<h1>Booking page</h1>
<div class="create-container">
  <form action="/booking" method="post">
    <div>
      <div class="inputs"
        <div class="input1">
          <label>Booking Date</label>
          <input name="date" type="text" required="required" placeholder="Booking Date">
        </div>
        <div class="input2">
          <label>Booking Price</label>
          <input name="price" type="text" required="required" placeholder="Booking Price">
        </div>
        <button type="submit">Add</button>
      </div>
    </div>
  </form>
</div>

{{results}}
