<body style="background-color:#FFFAED; text-align:center">
  <h1>Booking page</h1>
  <div class="create-container">
    <form action="/create-booking" method="post">
      <div>
        <div class="inputs"
          <div class="input1">
            <label>Booking Date</label>
            <input name="booking_date" type="text" required="required" placeholder="Booking Date">
          </div>
        </div>
        <input type="submit" value="Add">
      </div>
    </form>
  </div>

  <div>
      <table>
          <thead>
              <th>Booking ID</th>
              <th>Booking Date</th>
              <th></th>
              <th></th>
          </thead>
          {{#each results}}
            <tr>
              <td>{{booking_id}}</td>
              <td>{{booking_date}}</td>
              <td><form action="/edit" method="post"><input type="submit" value="Edit" onclick="editRow({{this.id}})"></form></td>
				      <td><input type="submit" value="Delete" onclick="deleteRow({{this.id}})"></td>
            </tr>
          {{/each}}
    </div>
