<h1>What is this database?</h1>
<h2>Definitions</h2>
<p>
    This database includes 4 primary entities:
        <p>Customers</p>
        <p>Bookings</p>
        <p>Booking_Details</p>
        <p>Rooms</p>
</p>
<h2>Description of entities:</h2>
<h3>Customers</h3>
<p>
    Customers are people which seek to book rooms to stay at the hotel. One customer may book many rooms.
</p>
<h3>Bookings</h3>
    Bookings consolidate information about when a customer made the booking and the price total of the booking.
<p>

</p>
<h3>Booking_Details</h3>
    Booking_Details connects the many customers to many rooms so that the staff can see which rooms the
    customers have booked and which customers are staying in which rooms.
<p>

</p>
<h3>Rooms</h3>
<p>
    Rooms are the rooms that customers may book at the hotel. Rooms consolidate information about what the
    room number is, whether it is clean for use, and whether it is currently being occupied by a customer.
    A room can hold many customers.
</p>
