<h1>Search Existing Rooms</h1>

<main>

    <div class="create-container">
        <form>
            <div>
                <div class="fields">

                    <div class="field">
                        <label>Room number</label>
                        <input name="room_number" type="text" required="required" placeholder="Room Number"
                    </div>

                </div>

                <button type="submit">Search</button>
            </div>
        </form>
    </div>

</main>

{{results}}
