<body style="background-color:#FFFAED; text-align:center">
  <h1>Search Existing Rooms</h1>
    <div class="create-container">
        <form>
            <div>
                <div class="inputs">
                    <div class="field">
                        <label>Room number</label>
                        <input name="room_number" type="text" required="required" placeholder="Room Number"
                    </div>

                </div>

                <input type="submit" value="Search">
            </div>
        </form>
    </div>

    <div>
        <table>
            <thead>
                <th>Room Number</th>
                <th>Clean</th>
                <th>Vacant</th>
            </thead>
            {{#each results}}
              <tr>
                <td>{{room_id}}</td>
                <td>{{is_clean}}</td>
                <td>{{is_occupied}}</td>
              </tr>
            {{/each}}
      </div>
