<body style="background-color:#FFFAED; text-align:center">
  <h1>Search Existing Customers</h1>
    <div class="search-container">
      <form action="/search-customer" method="post">
        <div class="inputs">
          <label>First Name</label>
          <input name="first_name" type="text" placeholder="First Name">
          <label>Last Name</label>
          <input name="last_name" type="text" placeholder="Last Name">
        </div>
      </form>
      <input type="submit" value="Search">
    </div>

    <div>
        <table>
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Age</th>
            </thead>
            {{#each results}}
              <tr>
                <td>{{first_name}}</td>
                <td>{{last_name}}</td>
                <td>{{email}}</td>
                <td>{{age}}</td>
              </tr>
            {{/each}}
      </div>
