<h1>Add New Rooms</h1>

<main>

    <div class="create-container">
        <form>
            <div>
                <div class="fields">

                    <div class="field">
                        <label>Cleaned</label>
                        <input name="is_clean" type="text" placeholder="TRUE or FALSE">
                    </div>

                    <div class="field">
                        <label>Occupied</label>
                        <input name="is_occupied" type="text" required="required" placeholder="TRUE or FALSE"
                    </div>

                </div>

                <button type="submit">Add</button>
            </div>
        </form>
    </div>

</main>

<div class="button-container">
    <button><a href ="/"> Home </a></button>
</div>