<h1>CS340 Final Project: Jason Yue and Andy Trinh</h1>

<h2>Welcome to HotelServer <br> Navigate using the buttons below </h2>
<br>


<button><a href="/customer"> Customer </a></button>
<button><a href="/booking"> Booking </a></button>
<button><a href="/add-new-rooms"> Add new room </a></button>
<button><a href="/search-existing-rooms"> Search existing rooms </a></button>