<h1>CS340 Final Project: Jason Yue and Andy Trinh</h1>

<h2>Welcome to HotelServer <br> Navigate using the buttons below </h2>
<br>


<button><a href="/create-customer-account"> Create An Account </a></button>
<button><a href="/search-customer"> Search Existing Customers </a></button>
<button><a href="/create-booking"> Add Bookings </a></button>
<button><a href="/room"> Room </a></button>
