<h1>Search Existing Customers</h1>
  <div class="search-container">
    <form action="/search-customer" method="post">
      <div class="search">
        <input name="Look up existing customer" type="text" placeholder="Full Name">
      </div>
    </form>
    <button type="submit">Search</button>
  </div>

<div class="button-container">
  <button><a href="/"> Home </a></button>
</div>
